<div class="container">
  <h2>Search car data</h2>
  <%# Seach form %>
  <div class="d-flex justify-content-center border rounded py-4 shadow-sm">
    <%= form_with( url: search_cars_path, method: :get, data: { turbo_stream: true, turbo_frame: 'inventory_items'}, class: "d-block d-md-flex flex-row flex-wrap gap-2 justify-content-end align-items-center" ) do |form| %>
      
      <div class="col-auto mb-2">
        <%= form.select :brand, Car.group(:brand).count.map { |key, value| [key, key] }.sort, { prompt: "Brand" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.select :model, [], { prompt: "Model" }, { class: 'form-select' } %>
      </div>

      <div class="col-auto mb-2">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>